.header{
    width: 100%;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

.h1{
    display: flex;
    justify-content: center;
}

.links{
    display: flex;
    justify-content: center;
    align-items:center;
}

.nav{
    text-align : center;
    margin : 10px;
}