.footer{
    width: 700px;
    height: 100px;
    margin: 10px auto;
}

.h2{
    display: flex;
    justify-content: center;
}

.copyright{
    display: flex;
    justify-content: center;
}

.plivacy{
    display: flex;
    justify-content: center;
}